@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;500&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --Lato: "Lato", light;
    --Lato2: "Lato", regular;
    --Montserrat: "Montserrat", thin;
    --Montserrat2: "Montserrat", medium;
    --light-black: #1e1e1e;
    --hover-color: #24c472;
    --bggradient: linear-gradient(to bottom left,
            #1e1e1e, #030f08);
    --light-gray: rgba(255, 255, 255, 0.877)
}

html {
    background: var(--bggradient);
    height: 100%;
}

body {
    margin: 0vmin 6vmin;
}

#navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position: relative;
}

#navbar.sticky {
    position: fixed;
    top:0;
    width:calc(100% - 12vmin) !important;
}

.navbarOffsetMargin {
    padding-top: 80px;
}

header .navbar-brand {
    color:whitesmoke;
    margin-right: auto;
}

header .navbar-brand i {
    height:auto;
}

header .navbar-brand:hover {
color:var(--hover-color);
transition: 0.5s;
}

header .nav-list {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}

header li a {
    display:block;
    font-family: var(--Lato);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
    padding: 2vmin;
}

header li a:hover {
    color:var(--hover-color);
    transition: 0.5s;
}

.dropdown-content {
    background-color:var(--hover-color);
    display: none;
    position: absolute;
    background: white;
    min-width: 16px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.dropdown-content a {
    background-color:var(--hover-color);
    color: #1e1e1e !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: #ffffff !important;
}

section {
    min-height: 100vh;
}

article {
        width: 90%;
        max-width: 600px;
        padding: 20px;
        margin: 0px auto;
}

#section-main h1 {
    font-family: var(--Lato);
    font-weight: 450;
    color:whitesmoke;
    text-align: center;
}

#section-main p {
    font-family: var(--Lato);
    font-weight: 300;
    color:whitesmoke;
    text-align: center;
}

#section-main-2 h1 {
    font-family: var(--Lato);
    font-weight: 450;
    color:whitesmoke;
    text-align: center;
}

#section-main-2 p {
    font-family: var(--Lato);
    font-weight: 300;
    color:whitesmoke;
    text-align: center;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}