@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root,
:root.light {
    --Lato: "Lato", sans-serif;
    --WorkSans: "Work Sans", sans-serif;
    --hover-color: #084f58;
    --third-color: #028090;
    --fourth-color: #D7FAFE;
    --focus-color: #7168cb;
    --placeholder-color: #828A95;
    --text-color: #2e2e2e;
    --white-text-color: whitesmoke;
    --bggradient: #fffdf5;
    --bggradient2: linear-gradient(220.55deg, #665da1 0%, #418CB7 100%);
    --tooltip-bg-color: #1e1e1e;
    --light-gray: rgba(255, 255, 255, 0.877)
}

:root.dark {
    --hover-color: #1e5e44;
    --third-color: #4d8a63;
    --fourth-color: #a7cfa2;
    --text-color: whitesmoke;
    --white-text-color: whitesmoke;
    --bggradient: #1e1e1e;
}

html {
    background: var(--bggradient);
    transition: background ease-in-out 0.33s;
    height: 100%;
}

body {
    margin: 0vmin 0vmin;
}

a:visited {
    color: var(--focus-color);
}

/** Spinner on index load **/

#preloader {
    align-items: center;
    background: var(--bggradient);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: opacity 0.2s linear;
    opacity: 1;
    transform: opacity 1s linear;
}

#preloader span {
    display: block;
    transition: opacity 0.2s linear;
}

/** Navigation top bar **/

#navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 8vh;
    min-height: 54px;
    transition: ease-in-out 0.33s;
}

#navbar.sticky {
    position: sticky;
    top: 0;
    box-shadow: 1px -1px 2px 1px #aaadb1;
    clip-path: inset(-5px -5px -800px -0px);
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--bggradient);
}

header .navbar-brand {
    margin-left: 8.7vmin;
    display: flex;
    align-items: center;
}

header .navbar-brand i {
    color: var(--text-color);
    font-size: 18px;
}

header .navbar-brand i:hover {
    color: var(--hover-color);
    transition: 0.25s;
    cursor: pointer;
}

header .navbar-brand a {
    height: 20px;
}

#logotop {
    color: var(--third-color);
    margin-left: 8.5vmin;
}

#logotop:hover {
    cursor: pointer;
    color: var(--hover-color);
    transition: ease-in-out 0.2s;
}

.iconoir-cancel {
    font-size: 22px !important;
}

header .nav-list {
    list-style-type: none;
    align-items: center;
    display: flex;
    margin-right: 8.7vmin;
    padding-inline-start: 0;
}

header .nav-list .nav-listcontainer {
    display: flex;
    gap: 28px;
    margin-right: 80px;
}

header .nav-list li a {
    display: block;
    color: var(--text-color);
    font-family: var(--WorkSans);
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 2vmin;
}

header .nav-list li a:hover {
    color: var(--hover-color);
    transition: 0.3s;
    text-decoration: none;
}

header .nav-list .dropdown-content {
    display: none;
    position: absolute;
    min-width: 132px;
    box-shadow: 0.5px 0.5px 2px 0px #aaadb1;
    overflow: hidden;
    border-radius: 8px !important;
}

header .nav-list .dropdown:hover .dropdown-content {
    display: block;
    -webkit-animation: fadeIn 0.33s;
    animation: fadeIn 0.33s;
}

header .nav-list .dropdown-content a {
    background-color: var(--bggradient);
    color: var(--text-color) !important;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .nav-list .dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color) !important;
}

header .nav-list .wallet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 112px;
    height: 40px;
    text-decoration: none;
    text-overflow: ellipsis;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--WorkSans);
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 1.5vmin;
    border-style: none;
    border-width: 1px;
    border-color: var(--text-color);
}

.wallet-container-inline {
    display: flex;
}

header .nav-list text {
    padding-left: 1.5vmin;
}

/** activate code when wallet integration is complete

header .nav-list svg:after {
    fill: green;
    stroke: green;
}

**/

header .nav-list .wallet-container:hover {
    border-style: none;
}

header .nav-list button {
    margin-left: 0px;
}

.draw-border {
    color: var(--text-color);
    transition: color 0.25s 0.0833333333s;
    position: relative;
    border-radius: 8px;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
}

.draw-border::before {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 8px;
}

.draw-border::after {
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 8px;
}

.draw-border:hover {
    color: var(--third-color);
    border-radius: 8px;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: var(--third-color);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.30s;
    border-radius: 8px;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.30s, 0s;
    border-radius: 8px;
}

/** Modal **/

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.5s;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: var(--bggradient);
    margin: 10% auto;
    padding: 2vmin;
    width: 60vmin;
    border-radius: 8px;
    -webkit-animation-name: animatebot;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebot;
    animation-duration: 0.5s;
}

@-webkit-keyframes animatebot {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebot {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.modal-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0vmin 3vmin 0vmin 3vmin;
    width: 100%;
}

.modalheadertitle {
    font-family: var(--WorkSans);
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    margin-left: auto
}

.modalheadericon {
    margin-left: auto
}

.modalheadericon i {
    color: var(--text-color);
    font-size: 20px;
}

.modal-header i:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.25s;
}

.modal-body {
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    padding-bottom: 6vmin;
    padding-top: 3vmin;
}

.modal-body .walletscontainer {
    top: 50%;
    left: 50%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--third-color);
    margin: 0vmin 1vmin 0vmin 1vmin;
    background-color: var(--fourth-color);
}

.walletitem {
    padding: 1.5vmin 2vmin 1.5vmin 2vmin;
    transition: ease-in-out 0.1s;
}

.walletitem:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.walletitem p {
    font-family: var(--WorkSans);
    font-size: 14px;
    font-weight: 300;
    float: left;
}

.walletitem img {
    height: 30px;
    float: right;
}

.first:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.last:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.walletcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.walletborder {
    border-bottom: 1px solid var(--third-color);
}

/** Sidenav **/

.sidenavclass {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bggradient);
    overflow-x: hidden;
    padding-top: 0vmin;
    transition: ease-in-out 0.33s;
    border-bottom-right-radius: 8px;
}

.sidebartop {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    min-height: 54px;
    position: relative;
}

.sidebartop a {
    height: 20px;
}

.sidebartop svg {
    color: var(--third-color);
}

.sidebartop svg:hover {
    cursor: pointer;
    color: var(--hover-color);
    transition: ease-in-out 0.2s;
}

.sidebartop i {
    display: none;
}

.sidebarmain {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarmenu {
    margin-top: -12vmin;
}

.sidebarmenu a {
    font-family: var(--WorkSans);
    font-weight: 400;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 1.5vmin;
}

.sidebarmenu a:hover {
    transform: scale(1.05);
}

.sidebarmenu-items i {
    font-size: 20px;
    color: var(--third-color);
}

.toggle-container {
    height: 5%;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}

.toggle-container span {
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
}

.toggle-container span span {
    font-family: var(--WorkSans);
    font-size: 14px;
    color: var(--text-color);
}

.toggle-container span i {
    font-size: 20px;
}

.theme-btn {
    transition: ease-in-out 0.33s;
    align-items: center;
}

.theme-btn:hover {
    cursor: pointer;
    color: var(--fourth-color);
    transform: scale(1.05);
}

.theme-btn.light {
    display: none;
}

.theme-btn.dark i {
    color: #084f58;
}

.dark .theme-btn.light {
    display: flex;
    color: yellow;
}

.dark .theme-btn.dark {
    display: none;
}

.sidebarbottom {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarbottom .primary-btn {
    width: 128px;
    height: 40px;
    margin-right: 28px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--hover-color);
    background-color: transparent;
    font-family: var(--WorkSans);
    font-size: 14px;
    font-weight: 400;
}

.sidebarbottom .primary-btn:hover {
    background-color: var(--bggradient-color);
    cursor: pointer;
    transition: 1s;
    border-style: none;
    border-radius: 8px;
}

.sidebarbottom .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.sidebarbottom .socials i {
    color: var(--hover-color);
    font-size: 20px;
}

.sidebarbottom .socials i:hover {
    color: var(--third-color);
    transition: 0.25s;
}

/** Main **/

#main {
    transition: ease-in-out 0.33s;
}

section {
    margin: 0vmin 6vmin;
    min-height: 90vh;
}

article {
    width: 100%;
}

.article-container {
    padding-top: 6vmin;
}

.main-title {
    font-family: var(--WorkSans);
    font-size: 28px;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    margin: auto;
    max-width: 60%;
    line-height: 44px;
    letter-spacing: 0px;
    padding-bottom: 8vmin;
}

.main-title a {
    color: var(--third-color);
    text-decoration: none;
    font-weight: 300;
    transition: ease-in-out 0.3s;
}

.main-title a:hover {
    color: var(--hover-color);
}

.un {
    display: inline-block;
}

.un::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: var(--hover-color);
    transition: 333ms;
}

.un:hover::after {
    width: 100%;
}

#faq {
    display: flex;
    max-width: 55%;
    margin: auto;
    flex-direction: column;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
}

#faq h1 {
    text-align: center;
    color: var(--text-color);
    font-family: var(--WorkSans);
    font-weight: 300;
    font-size: 24px;
}

.accordion {
    display: flex;
    align-items: center;
    font-family: var(--WorkSans);
    background-color: var(--third-color);
    color: var(--fourth-color);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 12px;
    width: 100%;
    height: 52px;
    text-align: left;
    transition: color 0.25s;
    outline: none;
    margin-top: 4px;
    transition: ease-in-out 0.2s;
}

.accordion h3 {
    padding-left: 8px;
    font-weight: 300;
    font-size: 14px;
}


.active,
.accordion:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color);
}

.panelAccordion {
    padding: 0 18px 0 36px;
    font-size: 14px;
    background-color: var(--bggradient);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.section-text {
    font-family: var(--WorkSans);
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
}

/** Slider **/

.sliderParent {
    margin: 0 12vmin;
    max-width: 100%;
}

.sliderTopRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5vmin;
    height: 24px;
}

.toph3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--text-color);
}

.toph3 h3 {
    font-family: var(--WorkSans);
    font-weight: 300;
    font-size: 16px;
}

.toph3:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
}

.toph3 i {
    font-size: 13px;
    margin-top: 1px;
}

.arrow {
    display: flex;
    font-size: 16px;
    gap: 4px;
    color: var(--text-color);
}

.arrow i:hover {
    color: var(--hover-color);
    transition: 0.3s;
    cursor: pointer;
}

.slick-content-background {
    background-color: var(--third-color);
    color: var(--fourth-color);
    font-family: var(--WorkSans);
    font-size: 24px;
    position: relative;
    width: 22vw;
    height: 14vw;
    border-radius: 8px;
    margin: 1.5vmin;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-item {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.slick-description {
    font-family: var(--WorkSans);
    color: var(--text-color);
    font-weight: 200;
    font-size: 14px;
    margin-left: 1.5vmin;
    margin-top: -0.5vmin;

}

.slick-transform {
    transition: 0.3s;
}

.slick-transform:hover {
    transform: scale(1.03);
}

.slick-content-background:hover {
    background-color: var(--hover-color);
    transition: 0.3s;
    cursor: pointer;
    color: var(--white-text-color) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/** Footer **/

.footer-main {
    box-shadow: 1px 0px 2px -0.5px #929498;
}

.footer-main:after {
    content: "";
    display: table;
    clear: both;
}

.footer-section {
    float: left;
    padding-top: 6vmin;
    padding-bottom: 6vmin;
    width: 33%;
    color: var(--text-color);
    font-family: var(--WorkSans);
    font-size: 14px;
    font-weight: 300;
}

.footer-content {
    text-align: center;
    justify-items: center;
}

.footer-content i {
    display: inline-block;
    font-size: 22px;
    color: var(--hover-color);
}

.footer-content i:hover {
    color: var(--third-color);
}

.footer-content li {
    display: block;
}

.footer-content a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-content a:hover {
    color: var(--hover-color);
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

.copyright {
    padding-top: 24px;
}

/** Tooltip **/

[data-tooltip] {
    position: relative;
    z-index: 4;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 4px 8px;
    min-width: 24px;
    max-width: 150px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--third-color);
    font-size: 12px;
    background-color: var(--tooltip-bg-color);
    box-shadow: 0px 0px 24px rgba(156, 154, 154, 0.1);
    color: whitesmoke;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    /* CSS triangle */
    border-color: var(--text-color) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    z-index: 10000;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent var(--tooltip-bg-color);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 16px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent var(--tooltip-bg-color) transparent;
    transform-origin: bottom;
}

/** Sign up **/

.signupmain {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--WorkSans), sans-serif;
}

.main-title-sign-up {
    font-family: var(--WorkSans);
    font-size: 22px;
    font-weight: 200;
    color: var(--text-color);
    text-align: center;
    margin: auto;
    line-height: 40px;
    letter-spacing: 0px;
    padding-bottom: 2vmin;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--third-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 35%;
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.input-container {
    position: relative;
    height: 48px;
    transition: background-color 500ms;
}

.input-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    color: var(--placeholder-color);
    font-family: var(--WorkSans);
    font-weight: 300;
    font-size: 12.5px;
    transform: translateY(-50%);
    transform-origin: left top;
    user-select: none;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

input:focus+.input-label {
    transform: translateY(-100%) scale(0.75);
    color: var(--focus-color);
}

input:focus+.input-label,
input:valid+.input-label {
    transform: translateY(-100%) scale(0.75);
}

input:focus+.input-label,
input.is-valid+.input-label {
    transform: translateY(-100%) scale(0.75);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    background: var(--bggradient);
    margin: 10px 0;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
    transition: border 500ms;
    font-family: var(--WorkSans), sans-serif;
}

input:focus {
    outline: none;
    border-bottom-width: 3px;
    border-color: var(--focus-color);
}

::placeholder {
    color: var(--placeholder-color);
}

input:-webkit-autofill {
    -webkit-text-fill-color: #1e1e1e !important;
}

/* checkbox styles */


.checkbox-containers {
    margin: 14px 0 0 0px;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    margin: 5px 0 0 0;
}

.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: var(--bggradient);
    border: 1px solid var(--third-color);
    cursor: pointer;
    margin: 0;
}

.checkbox:checked {
    background: var(--fourth-color);
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-image: url(../assets/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

.label-style {
    font-family: var(--WorkSans);
    color: var(--text-color);
    font-size: 12px;
    font-weight: 300;
    padding-left: 8px;
}

.label-style-alternative {
    font-family: var(--WorkSans);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: 2.5vmin;
    margin-bottom: 10vmin;
}

/** Buttons **/

.submit-btn {
    width: 300px;
    height: 48px;
    line-height: 40px;
    background: var(--third-color);
    color: var(--white-text-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
}

.submit-btn a {
    font-family: var(--WorkSans);
    font-weight: 300;
}

.submit-btn:hover {
    background: var(--hover-color);
    color: var(--white-text-color);
    transition: ease-in-out 0.2s;
}

.submit-btn:focus {
    border-color: var(--focus-color);
}

.submit-btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 34px;
    cursor: pointer;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--third-color);
    border-style: solid;
    background: var(--bggradient);
    color: var(--text-color);
    font-family: var(--WorkSans);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 8px;
}

.submit-btn-social:focus {
    border-color: var(--focus-color);
}

.submit-btn-social i {
    font-size: 16px;
    padding-right: 10px;
    color: var(--third-color);
}

.submit-btn-social a {
    justify-content: center;
}

.submit-btn-social:hover {
    color: var(--white-text-color) !important;
    background: var(--hover-color);
    transition: ease-in-out 0.2s;
    border: none;
}

.line-container {
    display: flex;
    justify-content: center;
}

.line-2 {
    width: 60%;
    padding-top: 16px;
    border-top: 0.5px solid var(--placeholder-color);
}

/** Error message **/

.alert-box {
    width: 364px;
    min-height: 100px;
    background: var(--bggradient);
    border-style: solid;
    border-width: 1px;
    border-color: var(--third-color);
    border-radius: 8px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 39%;
}

.alert-img {
    margin: 4px 8px 4px;
    height: 38px;
}

.alert-msg {
    font-size: 14px;
    font-family: var(--WorkSans);
    color: var(--text-color);
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    margin-left: 8px;
}

/** Media query **/

@media screen and (max-width: 768px) {
    header .remove-mobile {
        display: none;
    }

    #logotop {
        display: none;
    }

    header .nav-list {
        font-size: 16px !important;
        margin-right: 5.7vmin;
    }

    header .nav-list li a {
        font-size: 16px !important;
    }

    header .nav-list .nav-listcontainer {
        display: none;
    }

    header .nav-list .wallet-container a {
        font-size: 15px;
        font-weight: 250;
        letter-spacing: 0px;
        color: var(--text-color) !important;
    }

    header .nav-list .wallet-container {
        width: 100px;
        height: 40px;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    header .nav-list text {
        padding-left: 2vmin;
    }

    .modal-content {
        background-color: var(--bggradient);
        margin: 20% auto;
        padding: 2vmin;
        width: 80vmin;
        backdrop-filter: blur(2px);
    }

    .walletitem {
        padding: 1.5vmin 6vmin 1.5vmin 6vmin;
        transition: 0.2s;
    }

    .walletitem p {
        font-size: 14px;
    }

    .walletitem img {
        height: 28px;
    }

    .sidenavclass {
        z-index: 5;
        transition: 0.2s !important;
    }

    .sidebartop {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 8vh;
        position: relative;
    }

    .sidebartop i {
        display: block;
        margin-right: 6vmin;
        font-size: 20px;
    }

    .sidebarmain {
        height: 70vh;
    }

    .sidebarbottom {
        margin-top: -24vmin;
    }

    .main-title {
        max-width: 100%;
        font-size: 22px;
        font-weight: 300;
    }

    .article-container svg {
        height: 58px;
        width: 272px;
        margin-bottom: 8vmin;
        margin-top: 0vmin;
    }

    #faq {
        display: flex;
        max-width: 100%;
        margin: auto;
        flex-direction: column;
        padding-top: 16vmin;
    }

    .accordion {
        cursor: pointer;
        border-radius: 8px;
        border: none;
        padding: 12px;
        width: 100%;
        height: 60px;
        text-align: left;
        transition: 0.25s;
        outline: none;
        margin-top: 4px;
    }

    .sliderParent {
        margin: auto;
        max-width: 100%;
    }

    .sliderTopRow {
        height: 8vmin;
    }

    .slick-content-background {
        width: 48vw;
        height: 32vw;
        background-color: var(--third-color);
    }

    .slick-item {
        font-size: 14px;
    }

    .slick-description {
        font-size: 12px;
        margin-left: 1.5vmin;
        margin-top: -1.3vmin;
    }

    .arrow {
        display: none;
    }


    .footer-section {
        width: 100%;
        text-align: center;
    }
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}