@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/vmp0geq.css");

* {
    box-sizing: border-box;
}

:root,
:root.light {
    --Lato: "Lato", sans-serif;
    --Degular: "degular", sans-serif;
    --primary-color: #3F70D9;
    --secondary-color: #f6fefd;
    --focus-color: #daa853;
    --hover-color: #2f54a4;
    --placeholder-color: #828A95;
    --text-color: #2e2e2e;
    --white-text-color: #FCFCFC;
    --bggradient: #fffdf5;
    --bggradient2: linear-gradient(220.55deg, #665da1 0%, #418CB7 100%);
    --tooltip-bg-color: #1e1e1e;
    --light-gray: rgba(255, 255, 255, 0.877);
    --placeholder-background: #f5f5f5;
    --sticky-trans-bg: linear-gradient(to top, rgba(255, 253, 245, 0.001), rgba(255, 253, 245, 1));
}

:root.dark {
    --primary-color: #4d8a63;
    --secondary-color: #bbd2b8;
    --hover-color: #1e5e44;
    --focus-color: #8974b6;
    --text-color: #FCFCFC;
    --white-text-color: #FCFCFC;
    --bggradient: #262626;
    --placeholder-background: #d3d9d0;
    --placeholder-color: #757975;
    --sticky-trans-bg: linear-gradient(to top, rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 1));
}

html {
    background: var(--bggradient);
    transition: background ease-in-out 0.5s;
    height: 100%;
    font-display: swap;
}

body {
    margin: 0;
    overflow: visible;
}

a:visited {
    color: var(--focus-color);
}

/** Spinner on index load **/

#preloader {
    align-items: center;
    background: var(--bggradient);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: opacity 0.2s linear;
    opacity: 1;
    transform: opacity 1s linear;
}

#preloader span {
    display: block;
    transition: opacity 0.2s linear;
}

/** Navigation top bar **/

#navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 9vh;
    min-height: 54px;
    background: transparent;
    transition: background ease-in-out 0.2s;
    z-index: 2;
}

#navbar.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#navbar.sticky::before {
    backdrop-filter: blur(0.75px);
    -webkit-backdrop-filter: blur(0.75px);
}

.trans::before {
    background: var(--sticky-trans-bg);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity ease-in-out 0.33s;
    z-index: -1;
}

.trans#navbar.sticky::before {
    opacity: 1;
}

header .navbar-brand {
    margin-left: 8.7vmin;
    display: flex;
    align-items: center;
    z-index: inherit;
}

header .navbar-brand i {
    color: var(--text-color);
    font-size: 18px;
    margin-right: 8.5vmin;
}

header .navbar-brand i:hover {
    color: var(--hover-color);
    transition: 0.25s;
    cursor: pointer;
}

#logotop {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 1;
    transition: color ease-in-out 0.33s;
}

#logotop h1 {
    font-family: var(--Degular);
    font-size: 24px;
    height: 35px;
}

#logotop:hover {
    cursor: pointer;
    color: var(--hover-color);
    transition: ease-in-out 0.2s;
}

header .nav-list {
    list-style-type: none;
    align-items: center;
    display: flex;
    margin-right: 8.7vmin;
    padding-inline-start: 0;
    z-index: inherit;
}

header .nav-list .nav-listcontainer {
    display: flex;
    gap: 28px;
    margin-right: 32px;
}

header .nav-list ul {
    list-style-type: none;
}

header .nav-list li a {
    display: block;
    color: var(--text-color);
    font-family: var(--Degular);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 2vmin;
}

header .nav-list li a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

header .nav-list .dropdown-content {
    display: none;
    position: absolute;
    min-width: 132px;
    box-shadow: 0 0 2px 0 rgb(111 111 111 / 8%), 0 0 4px 0 rgb(111 111 111 / 2%), 0 0 5px 4px rgb(111 111 111 / 6%);
    overflow: hidden;
    border-radius: 8px !important;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(6px);
}

header .nav-list .dropdown:hover .dropdown-content {
    display: block;
}

header .nav-list .dropdown-content a {
    background-color: transparent;
    color: var(--text-color) !important;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .nav-list .dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color) !important;
}

header .nav-list .wallet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 112px;
    height: 40px;
    text-decoration: none;
    text-overflow: ellipsis;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--Degular);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 1.5vmin;
    border-style: none;
    border-width: 1px;
    border-color: var(--text-color);
}

.wallet-container-inline {
    display: flex;
}

header .nav-list text {
    padding-left: 1.5vmin;
}

/** activate code when wallet integration is complete

header .nav-list svg:after {
    fill: green;
    stroke: green;
}

**/

header .nav-list .wallet-container:hover {
    border-style: none;
}

header .nav-list button {
    margin-left: 0px;
}

.draw-border {
    color: var(--text-color);
    transition: color 0.25s 0.0833333333s;
    position: relative;
    border-radius: 8px;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
}

.draw-border::before {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 8px;
}

.draw-border::after {
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 8px;
}

.draw-border:hover {
    color: var(--primary-color);
    border-radius: 8px;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: var(--primary-color);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.30s;
    border-radius: 8px;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.30s, 0s;
    border-radius: 8px;
}

/** Modal **/

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.5s;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: var(--bggradient);
    margin: 10% auto;
    padding: 2vmin;
    width: 60vmin;
    border-radius: 8px;
    -webkit-animation-name: animatebot;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebot;
    animation-duration: 0.5s;
}

@-webkit-keyframes animatebot {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebot {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.modal-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0vmin 3vmin 0vmin 3vmin;
    width: 100%;
}

.modalheadertitle {
    font-family: var(--Degular);
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    margin-left: auto
}

.modalheadericon {
    margin-left: auto
}

.modalheadericon i {
    color: var(--text-color);
    font-size: 20px;
}

.modal-header i:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.25s;
}

.modal-body {
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    padding-bottom: 6vmin;
    padding-top: 3vmin;
}

.modal-body .walletscontainer {
    top: 50%;
    left: 50%;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
    margin: 0vmin 1vmin 0vmin 1vmin;
    background-color: var(--secondary-color);
}

.walletitem {
    padding: 1.5vmin 2vmin 1.5vmin 2vmin;
    transition: ease-in-out 0.1s;
}

.walletitem:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.walletitem p {
    font-family: var(--Degular);
    font-size: 14px;
    font-weight: 300;
    float: left;
}

.walletitem img {
    height: 30px;
    float: right;
}

.first:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.last:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.walletcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.walletborder {
    border-bottom: 1px solid var(--primary-color);
}

/** Sidenav **/

.sidenavclass {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 0vmin;
    transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, background ease-in-out 0.5s, border-top-right-radius ease-in-out 0.2s;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebartop {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    min-height: 54px;
    position: relative;
    background: var(--sticky-trans-bg);
}

.sidebartop a {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 1;
    transition: color ease-in-out 0.33s;
}

.sidebartop h1 {
    font-family: var(--Degular);
    font-size: 24px;
    height: 35px;
}

.sidebartop a:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.sidebartop i {
    display: block;
    margin-right: 3vmin;
    font-size: 20px;
    color: var(--text-color);
    transition: color ease-in-out 0.2s;
    cursor: pointer;
}

.sidebartop i:hover {
    color: var(--hover-color)
}

.sidebarmain {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarmenu {
    margin-top: -12vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebarmenu-items-mobile {
    display: none;
    flex-direction: column;
    font-family: var(--Degular);
    font-weight: 400;
    /* gap: 12vmin;
    padding-bottom: 12vmin; */
}

.sidebarmenu-items-mobile a {
    padding-bottom: 6px;
}

.sidebarmenu-title {
    font-size: 24px !important;
    font-weight: 600 !important;
    color: var(--primary-color) !important;
    margin-bottom: -4px;
}

.remove-desktop {
    display: none !important;
}

.sidebarmenu-item {
    margin-left: 0px;
    color: var(--text-color) !important;
}

.sidebarmenu-items-grid1 a,
.sidebarmenu-items-grid2 a {
    text-decoration: none;
    transition: ease-in-out 0.33s;
}

.sidebarmenu-items-grid1 a:hover,
.sidebarmenu-items-grid2 a:hover {
    transform: scale(1.05);
    color: var(--hover-color);
}

.line-container-2 {
    display: none;
    justify-content: center;
    width: 50%;
    padding: 4vmin 0vmin;
}

.line-3 {
    width: 60%;
    border-top: 0.5px solid var(--placeholder-color);
}

.sidebarmenu a {
    font-family: var(--Degular);
    font-weight: 400;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    transition: ease-in-out 0.33s;
    display: flex;
    align-items: center;
    gap: 1.6vmin;
}

.sidebarmenu a:hover {
    transform: scale(1.05);
    color: var(--hover-color);
}

.sidebarmenu-items i {
    font-size: 20px;
    color: var(--primary-color);
}

.iconoir-add-user {
    margin-left: 0.35vmin;
}

.sidebar-signup {
    gap: 1.2vmin !important;
}


.toggle-container {
    display: flex;
    margin-bottom: 10vh;
}

.toggle-container span {
    display: flex;
    justify-content: center;
}

.toggle-container span span {
    font-family: var(--Degular);
    font-size: 16px;
    color: var(--text-color);
}

.toggle-container span i {
    font-size: 20px;
    margin-right: 1.6vmin;
}

.theme-btn {
    transition: ease-in-out 0.33s;
    align-items: center;
}

.theme-btn:hover {
    cursor: pointer;
    color: var(--secondary-color);
    transform: scale(1.05);
}

.theme-btn.light {
    display: none;
}

.theme-btn.dark i {
    color: #2e2e2e;
}

.dark .theme-btn.light {
    display: flex;
    color: yellow;
}

.dark .theme-btn.dark {
    display: none;
}

.sidebarbottom {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarbottom .primary-btn {
    width: 200px;
    height: 40px;
    /* margin-right: 28px;  only when socials are displayed */
    border-style: solid;
    border-width: 1px;
    border-color: var(--hover-color);
    background-color: transparent;
    font-family: var(--Degular);
    font-size: 14px;
    font-weight: 400;
}

.sidebarbottom .primary-btn:hover {
    background-color: var(--bggradient-color);
    cursor: pointer;
    transition: 1s;
    border-style: none;
    border-radius: 8px;
}

.sidebarbottom .socials {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.sidebarbottom .socials i {
    font-size: 22px;
    transition: 0.2s;
}

.sidebarbottom .socials i:hover {
    background: var(--hover-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Main **/

.bgfixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bgfixed .bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--secondary-color) 15%, var(--primary-color) 15%, var(--bggradient) 50%);
    transform: translate(-60%, -60%) scale(3.5);
}

#main {
    transition: margin-left cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, background ease-in-out 0.5s;
}

section {
    margin: 0vmin 6vmin;
    min-height: 90vh;
}

article {
    width: 100%;
}

.article-container {
    padding-top: 0vmin;
}

.main-title {
    font-family: var(--Degular);
    font-size: 28px;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    margin: auto;
    max-width: 60%;
    line-height: 44px;
    letter-spacing: 0px;
    padding: 8vmin 0vmin 6vmin 0vmin;
}

.main-title a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 300;
    transition: ease-in-out 0.3s;
}

.main-title a:hover {
    color: var(--hover-color);
}

.un {
    display: inline-block;
}

.un::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: var(--hover-color);
    transition: 333ms;
}

.un:hover::after {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 6vmin;
}

.btn-cta {
    background: var(--primary-color);
    padding: 8px 16px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    width: 18em;
    min-width: 10em;
    outline: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2px 0 rgba(157, 156, 156, 0.08), 0 0 4px 0 rgb(157, 156, 156 / 2%), 0 0 5px 4px rgb(157, 156, 156 / 6%);
    transition: all 0.2s ease-in-out !important;
}

.btn-cta {
    color: var(--white-text-color);
}

.btn-text {
    margin: 0 0 2.5px 0;
    font-family: var(--Degular);
    font-size: 18px;
    font-weight: 400;
}

.btn-cta:hover {
    background: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--white-text-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-arrow:hover span {
    transform: translate3d(-1rem, 0, 0);
}

.btn-arrow svg {
    position: absolute;
    width: 1.6em;
    right: -0.5rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn-arrow svg * {
    stroke-width: 1.75;
    color: var(--white-text-color);
}

.btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
}


#faq {
    display: flex;
    max-width: 55%;
    margin: auto;
    flex-direction: column;
    padding: 8vmin 0vmin;
}

#faq .title-faq {
    text-align: center;
    color: var(--text-color);
    font-family: var(--Degular);
    font-weight: 300;
    font-size: 24px;
}

.accordion {
    display: flex;
    align-items: center;
    font-family: var(--Degular);
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px var(--text-color);
    padding: 12px;
    width: 100%;
    height: 52px;
    text-align: left;
    transition: color 0.25s;
    outline: none;
    margin-top: 4px;
    transition: ease-in-out 0.2s;
}

.accordion p {
    padding-left: 8px;
    font-weight: 300;
    font-size: 14px;
}

.accordion:hover {
    background-color: var(--hover-color);
    color: var(--white-text-color);
    border-color: var(--hover-color);
}

.active {
    background-color: var(--primary-color);
    color: var(--white-text-color);
    border-color: var(--primary-color);
}

.panelAccordion {
    padding: 0 18px 0 36px;
    font-size: 14px;
    background-color: transparent;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.section-text {
    font-family: var(--Degular);
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
}

/** Slider **/

.sliderParent {
    margin: 0 12vmin;
    max-width: 100%;
}

.sliderTopRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5vmin;
    margin-bottom: -2vmin;
}

.toph3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--text-color);
}

.toph3 p {
    font-family: var(--Degular);
    font-weight: 300;
    font-size: 16px;
}

.toph3:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
}

.toph3 i {
    font-size: 13px;
    margin-top: 3px;
}

.arrow {
    display: flex;
    font-size: 16px;
    gap: 4px;
    color: var(--text-color);
}

.arrow i:hover {
    color: var(--hover-color);
    transition: 0.3s;
    cursor: pointer;
}

.slick-content {
    visibility: hidden;
}

.slick-content.slick-initialized {
    visibility: visible;
}

.slick-content-background {
    background-color: transparent;
    color: var(--primary-color);
    font-family: var(--Degular);
    font-size: 24px;
    position: relative;
    width: 24vw;
    height: 16vw;
    border: solid 1px var(--text-color);
    border-radius: 8px;
    margin: 1.5vmin;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-item {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.slick-description {
    font-family: var(--Degular);
    color: var(--text-color);
    font-weight: 200;
    font-size: 14px;
    margin-left: 1.5vmin;
    margin-top: -0.5vmin;

}

.slick-transform {
    transition: 0.3s;
}

.slick-transform:hover {
    transform: scale(1.03);
}

.slick-content-background:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    transition: 0.3s;
    cursor: pointer;
    color: var(--white-text-color) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/** Footer **/

#footer {
    transition: margin-left cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, background ease-in-out 0.5s;
}

.footer-main {
    box-shadow: 0 0 1px 0 rgb(111 111 111 / 2%), 0 0 2px 0 rgb(111 111 111 / 1%), 0 0 5px 2px rgb(111 111 111 / 3%);
}

.footer-main:after {
    content: "";
    display: table;
    clear: both;
}

.footer-section {
    float: left;
    padding-top: 6vmin;
    padding-bottom: 6vmin;
    width: 33%;
    color: var(--text-color);
    font-family: var(--Degular);
    font-size: 14px;
    font-weight: 300;
}

.footer-content ul {
    padding: 0;
}

.footer-content {
    text-align: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content .socials {
    display: flex;
    gap: 6px;
}

.footer-content .socials i {
    display: inline-flex;
    font-size: 22px !important;
    transition: 0.22s;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-square {
    background: #3b5998;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-twitter-square {
    background: #00acee;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-twitch {
    background: #6441a5;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px !important;
    margin-top: 2px;
}

.socials .fa:hover {
    background: var(--hover-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-content li {
    display: block;
}

.footer-content a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-content a:hover {
    color: var(--hover-color);
}

.footer-content-title {
    font-weight: 400;
    font-size: 14px;
}

.copyright {
    padding-top: 24px;
}

/** Tooltip **/

[data-tooltip] {
    position: relative;
    z-index: 4;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 4px 8px;
    min-width: 24px;
    max-width: 150px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    border-style: solid;
    border-width: 0;
    border-color: var(--primary-color);
    font-size: 12px;
    background-color: var(--tooltip-bg-color);
    box-shadow: 0px 0px 24px rgba(156, 154, 154, 0.1);
    color: whitesmoke;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    /* CSS triangle */
    border-color: var(--text-color) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    z-index: 10000;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent var(--tooltip-bg-color);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 16px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent var(--tooltip-bg-color) transparent;
    transform-origin: bottom;
}

/** Sign up **/

.signupmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--Degular), sans-serif;
}

.main-title-sign-up {
    font-family: var(--Degular);
    font-size: 22px;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    line-height: 40px;
    letter-spacing: 0px;
    margin: 7.5% 0 3.75% 0;
}

.main-title-text {
    font-family: var(--Degular);
    font-weight: 200;
    font-size: 14px;
    color: var(--text-color);
    margin: 0 7.5% 2.5% 7.5%;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--primary-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 35%;
    display: none;
    z-index: 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 95%;
    max-width: 400px;
    background-color: transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0 rgb(111, 111, 111, 8%), 0 0 4px 0 rgb(111, 111, 111, 2%), 0 0 5px 4px rgba(111, 111, 111, 0.06);
    margin: 8vmin 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.input-container {
    background-color: var(--placeholder-background);
    position: relative;
    height: 48px;
    width: 85%;
    transition: background-color 500ms;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: transparent;
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 300;
    transition: border 500ms;
    font-family: var(--Degular), sans-serif;
    transition: ease-in-out 0.2s;
}

.title-mongo {
    width: 50% !important;
    align-self: flex-start;
    margin-left: 7.5%;
}

.content-mongo {
    height: 20vmin !important;
}

.input-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    color: var(--placeholder-color);
    font-family: var(--Degular);
    font-weight: 300;
    font-size: 12.5px;
    transform: translateY(-50%);
    transform-origin: left top;
    user-select: none;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.label-content-mongo {
    top: 15%;
}

input:focus+.input-label {
    transform: translateY(-100%) scale(0.75);
    color: var(--focus-color);
}

input:focus+.input-label,
input:valid+.input-label {
    transform: translateY(-100%) scale(0.75);
}

input:focus+.input-label,
input.is-valid+.input-label {
    transform: translateY(-100%) scale(0.75);
}

textarea:focus+.input-label {
    transform: translateY(-100%) scale(0.75);
    color: var(--focus-color);
}

textarea:focus+.input-label,
textarea:valid+.input-label {
    transform: translateY(-100%) scale(0.75);
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: transparent;
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 300;
    transition: border 500ms;
    font-family: var(--Degular), sans-serif;
    transition: ease-in-out 0.2s;
}

.input-container:hover {
    background: var(--secondary-color) !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-bottom-width: 3px;
    border-color: var(--focus-color);
    border-radius: 8px;
}

textarea:focus {
    outline: none;
    border-bottom-width: 3px;
    border-color: var(--focus-color);
    border-radius: 8px;
}

::placeholder {
    color: var(--placeholder-color);
}

input:-webkit-autofill {
    -webkit-text-fill-color: #2e2e2e !important;
}

/* checkbox styles */


.checkbox-containers {
    margin: 14px 0 0 0px;
    align-self: start;
    margin-left: 7.5%;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    margin: 5px 0 0 0;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: var(--bggradient);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    margin: 0;
}

.checkbox:checked {
    background: var(--secondary-color);
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-image: url(../assets/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

.label-style {
    font-family: var(--Degular);
    color: var(--text-color);
    font-size: 12px;
    font-weight: 300;
    padding-left: 8px;
    transition: ease-in-out 0.2;
}

.label-style a {
    transition: ease-in-out 0.2s !important;
}

.label-style a:hover {
    color: var(--hover-color);
}

.label-style-alternative {
    font-family: var(--Degular);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: 2.5vmin;
    margin-bottom: 5vmin;
    transition: ease-in-out 0.2s;
}

.on-contact-form {
    margin-top: 0vmin !important;
}

.label-style-alternative:hover {
    color: var(--hover-color);
}

/** Buttons **/

.submit-btn {
    width: 85%;
    height: 48px;
    line-height: 40px;
    background: var(--primary-color);
    color: var(--white-text-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
}

.submit-btn a {
    font-family: var(--Degular);
    font-weight: 300;
}

.submit-btn:hover {
    background: var(--hover-color);
    color: var(--white-text-color);
    transition: ease-in-out 0.2s;
}

.submit-btn:focus {
    border-color: var(--focus-color);
}

.submit-btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 34px;
    cursor: pointer;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
    background: var(--bggradient);
    color: var(--text-color);
    font-family: var(--Degular);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
}

.submit-btn-social:focus {
    border-color: var(--focus-color);
}

.submit-btn-social i {
    font-size: 16px;
    padding-right: 10px;
    color: var(--primary-color);
}

.submit-btn-social a {
    justify-content: center;
}

.submit-btn-social:hover {
    color: var(--white-text-color) !important;
    background: var(--hover-color);
    transition: ease-in-out 0.2s;
    border: none;
}

.line-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.line-2 {
    width: 60%;
    padding-top: 16px;
    border-top: 0.5px solid var(--placeholder-color);
}

/** Error message **/

.alert-box {
    width: 310px;
    min-height: 100px;
    background: var(--bggradient);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 39%;
}

.alert-img {
    margin: 4px 8px 4px;
    height: 38px;
}

.alert-msg {
    font-size: 14px;
    font-family: var(--Degular);
    color: var(--text-color);
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    margin-left: 8px;
}

/** Media query **/

@media screen and (max-width: 768px) {
    header .remove-mobile {
        display: none;
    }

    .remove-desktop {
        display: flex !important;
    }

    #logotop {
        display: none;
    }

    header .nav-list {
        font-size: 16px !important;
        margin-right: 5.7vmin;
    }

    header .nav-list li a {
        font-size: 16px !important;
    }

    header .nav-list .nav-listcontainer {
        display: none;
    }

    header .nav-list .wallet-container a {
        font-size: 15px;
        font-weight: 250;
        letter-spacing: 0px;
        color: var(--text-color) !important;
    }

    header .nav-list .wallet-container {
        width: 100px;
        height: 40px;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    header .nav-list text {
        padding-left: 2vmin;
    }

    .modal-content {
        background-color: var(--bggradient);
        margin: 20% auto;
        padding: 2vmin;
        width: 80vmin;
        backdrop-filter: blur(2px);
    }

    .walletitem {
        padding: 1.5vmin 6vmin 1.5vmin 6vmin;
        transition: 0.2s;
    }

    .walletitem p {
        font-size: 14px;
    }

    .walletitem img {
        height: 28px;
    }

    .sidenavclass {
        z-index: 5;
        transition: 0.2s !important;
        background: var(--bggradient);
    }

    .sidebartop {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .sidebartop h1 {
        font-size: 28px;
        height: 44px;
    }

    .sidebartop i {
        display: block;
        margin-right: 6vmin;
        font-size: 20px;
    }

    .sidebarmain {
        height: 70vh;
        flex-direction: column;
        margin-top: -12vmin;
    }

    .sidebarmenu {
        margin-top: 0vmin;
    }

    .sidebarmenu-items-mobile {
        display: flex;
    }

    .sidebar-login {
        gap: 3.5vmin !important;
    }

    .iconoir-log-in {
        margin-left: -0.7vmin;
    }

    .sidebar-signup {
        gap: 2.7vmin !important;
    }

    .iconoir-add-user {
        margin-left: 0vmin;
    }

    .sidebar-fav {
        gap: 3.3vmin !important;
    }

    .iconoir-heart {
        margin-left: -0.5vmin;
    }

    .sidebarmenu-items-grid1 {
        display: flex;
        flex-direction: column;
    }

    .sidebarmenu-items-grid2 {
        display: flex;
        flex-direction: column;
    }

    .line-container-2 {
        display: none;
    }

    .sidebarmenu {
        padding-top: 4px;
    }

    .sidebarmenu a {
        padding: 7px 0px 0px 0px;
    }

    .sidebarmenu-items-grid1 {
        padding-bottom: 5vmin;
    }

    .sidebarmenu-items-grid2 {
        padding-bottom: 5vmin;
    }

    .toggle-container {
        margin-bottom: 6vh;
        margin-left: -3px;
        margin-top: -20vmin;
    }

    .toggle-container span i {
        margin-right: 2.8vmin;
    }

    .sidebarbottom {
        margin-top: -16vmin;
    }

    .main-title {
        max-width: 100%;
        font-size: 22px;
        font-weight: 300;
        line-height: 38px;
    }

    .center {
        margin-bottom: 12vmin;
    }

    .btn-cta {
        padding: 8px 14px;
    }

    .btn-text {
        font-size: 16px;
    }

    .btn-arrow svg {
        width: 1.35em;
    }

    .btn-arrow span {
        transition: all 100ms ease-out;
    }

    .btn-arrow svg {
        transition: all 100ms ease-out;
    }

    .toph3 i {
        font-size: 12px;
        margin-top: 4px;
    }

    .sliderParent {
        margin: auto;
        max-width: 100%;
    }

    .sliderTopRow {
        height: 10vmin;
    }

    .slick-content-background {
        width: 54vw;
        height: 38vw;
    }

    .slick-item {
        font-size: 14px;
    }

    .slick-description {
        font-size: 12px;
        margin-left: 1.5vmin;
        margin-top: -1.3vmin;
    }

    .arrow {
        display: none;
    }

    #faq {
        display: flex;
        max-width: 100%;
        margin: auto;
        flex-direction: column;
    }

    .accordion {
        cursor: pointer;
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        height: 60px;
        text-align: left;
        transition: 0.25s;
        outline: none;
        margin-top: 4px;
    }

    .form-container {
        gap: 8px;
        width: 100%;
        max-width: 800px;
        margin: 8vmin 0;
    }

    .label-content-mongo {
        top: 24px;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}